---
import Layout from '../layouts/Layout.astro';
import {Modal} from '../index';
import ModalTrigger from '@components/ModalTrigger.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<ModalTrigger id="modal" text="Trigger"></ModalTrigger>
		<Modal title='modal component' triggerId='modal' actions={[{text: 'action1'}, {text: 'action2'}]}>
			<div slot="content">content</div>

			{(props: any) => <button slot="action" {...props}>Action 1</button>}
		</Modal>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
